# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons
build/Release

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# Optional cache directories
.npm
.cache
.parcel-cache
.nyc_output
coverage
*.lcov
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# TypeScript build info
*.tsbuildinfo

# Lint caches
.eslintcache
.stylelintcache

# REPL history
.node_repl_history

# Output of `npm pack`
*.tgz

# Yarn
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist
out
.next
.nuxt
.vuepress/dist

# Public folder (optional, Gatsby)
# public

# Serverless
.serverless/

# VSCode
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
ENV/
ENV*/
.mypy_cache/
.pytest_cache/
.pyenv/
*.sqlite3
db.sqlite3

# Docker
*.tar
*.sql
*.sqlite
*.db
docker-compose.override.yml
