.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
}

.person-info {
  display: flex;
  width: 275px;
  flex-direction: column;
  align-items: flex-start;
}

.person-info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  height: 40px;
}

.person-info-container.observado {
  p {
    color: rgb(255, 42, 42);
  }
}

.person-image {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  border: 1px solid #eaeaea;
  background: rgb(80, 73, 73);
  background-image: url(./src/assets/8964178665b732562a9cc847cc16c7649e51ee2c.jpg);
  background-position: center;
  background-size: 170px;
}

.container.personInfo {
  padding: 48px 64px 24px 64px;
}

#closePersonInfoButton {
  width: 100%;
}

.boldText {
  color: #414143;
  font-family: "Schibsted Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mensajeYaVotoContainer {
  background-color: #fff8d6ec;
  padding: 0px 32px;
  border-radius: 32px;
}
