.listComponentContainer {
  width: 240px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #eaeaea;
  background: rgba(250, 250, 250, 0.45);
  overflow: hidden;
  transition: 0.3s;
}

.listImageContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgb(123, 150, 216);
}

.listComponentContainer:hover {
  outline: 3px solid rgba(36, 65, 142, 0.8);
  transition: 0.3s;
}

.listImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
