.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 56px;
  align-self: stretch;
  width: 100%;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.container.AdminLogin {
  width: 450px;
}

.buttonsContainer.AdminLogin {
  width: 100%;
  gap: 16px;
}

.buttonsContainer.AdminLogin button {
  width: 100%;
}
