:root {
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  background-image: url(./assets/fondo.png);
  background-size: cover;
}

h1 {
  color: #414143;
  text-align: center;
  font-family: "Schibsted Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.6px;
  margin: 0;
}

h2 {
  color: rgba(65, 65, 67, 0.7);
  text-align: center;
  font-family: "Schibsted Grotesk";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.28px;
  margin: 0;
}

t {
  color: #414143;
  font-family: "Schibsted Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

input {
  display: flex;
  padding: 16px 32px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid #d9d9d9;
  background: rgba(255, 255, 255, 0.8);
}

::placeholder {
  color: #c2c2c2;
  font-family: "Schibsted Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

input:focus {
  outline: 3px solid rgba(36, 65, 142, 0.8);
  transition: 0.1s;
}

button {
  display: flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #24418e;
  border-width: 0px;
  transition: 0.3s;
}
button:hover {
  background-color: #5975c3;
  transition: 0.3s;
}

.cancelButton {
  border-radius: 24px;
  background: rgba(33, 47, 84, 0.31);
}

.cancelButton:hover {
  background-color: rgba(33, 47, 84, 0.2);
}

.disabledButton {
  background: rgba(33, 47, 84, 0.05);
}

.disabledButton:hover {
  background-color: rgba(33, 47, 84, 0.05);
  cursor: not-allowed;
}

label {
  color: #616773;
  font-family: "Schibsted Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}

.container {
  display: flex;
  padding: 32px 48px 24px 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 129px;
  border-radius: 48px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
